/* REPORTS LAYOUT */
.reports-layout {
    display: flex;
    min-height: calc(100vh - 90px);
}

/* LEFT SIDEBAR */
.reports-sidebar {
    width: 255px;
    background: #fff;
    padding: 20px 14px;
}

/* sidebar button */
.report-link {
    display: block;
    width: 100%;
    padding: 22px 20px;
    margin-bottom: 18px;
    border-radius: 999px;
    text-decoration: none;
    color: #111;
    font-size: 18px;
    line-height: 1.35;
    transition: 0.2s ease;
}

    /* active page */
    .report-link.active {
        background: #9DD44E;
        font-weight: 600;
    }

    /* hover */
    .report-link:hover {
        background: #eef6df;
    }

/* RIGHT CONTENT */
.reports-content {
    flex: 1;
    padding: 35px;
}
